<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1
13,17668,1,158,71.0,110,70,1,1,0,0,1,0
14,19834,1,164,68.0,110,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [4]:
gender_man, gender_woman = 2, 1
df_men, df_women = df[(df['gender'] == gender_man)], df[(df['gender'] == gender_woman)]
print('Men height:', df_men['height'].mean())
print('Women height:', df_women['height'].mean())
print('Men:', len(df_men.index), 'Women:', len(df_women.index))

Men height: 169.94789538210054
Women height: 161.35561168460356
Men: 24470 Women: 45530

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [5]:
alco_men_mean, alco_women_mean = df_men['alco'].mean(), df_women['alco'].mean()
print('Alco men mean:', alco_men_mean)
print('Alco women mean:', alco_women_mean)
print('Men' if alco_men_mean < alco_women_mean else 'Woman' + ' rarely drinks alcohol')

Alco men mean: 0.10637515324887617
Alco women mean: 0.02549967054689216
Woman rarely drinks alcohol

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [6]:
smoke_men, smoke_women = df_men[(df_men['smoke'] == 1)], df_women[(df_women['smoke'] == 1)]
smoke_men_percent = (len(smoke_men.index) / len(df_men.index)) * 100
smoke_women_percent = (len(smoke_women.index) / len(df_women.index)) * 100
print('Smoke men percent:', smoke_men_percent)
print('Smoke women percent:', smoke_women_percent)
print('Smoke men more than smoke women', np.round(smoke_men_percent / smoke_women_percent), 'times')

Smoke men percent: 21.88802615447487
Smoke women percent: 1.7856358444981333
Smoke men more than smoke women 12.0 times

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [7]:
df_smoke_median, df_not_smoke_median = (df[(df['smoke'] == 1)]['age'] / 365.25 * 12).median(), (df[(df['smoke'] == 0)]['age'] / 365.25 * 12).median()
print('Sub:', df_not_smoke_median - df_smoke_median)

Sub: 19.61396303901438

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [8]:
df.insert(1, 'age_years', round(df['age'] / 365.25))
df_smoke = df[(df['smoke'] == 1)]
df_smoke_men = df_smoke[(df_smoke['gender'] == gender_man)]
df_smoke_men_ages = df_smoke_men[(df_smoke_men['age_years'] >= 60) & (df_smoke_men['age_years'] <= 64)]
df_smoke_men_ages1 = df_smoke_men_ages[(df_smoke_men_ages['ap_hi'] < 120) & (df_smoke_men_ages['cholesterol'] == 1)]
df_smoke_men_ages2 = df_smoke_men_ages[(df_smoke_men_ages['ap_hi'] >= 160) & (df_smoke_men_ages['ap_hi'] < 180) & (df_smoke_men_ages['cholesterol'] == 3)]
share1 = len(df_smoke_men_ages1[(df_smoke_men_ages1['cardio'] == 1)].index) / len(df_smoke_men_ages1.index)
share2 = len(df_smoke_men_ages2[(df_smoke_men_ages2['cardio'] == 1)].index) / len(df_smoke_men_ages2.index)
print(np.round(share2 / share1), 'times')

3.0 times

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [9]:
df.insert(6, 'bmi', df['weight'] / ((df['height'] / 100) ** 2))
bmi_median = df['bmi'].median()
print('1:', bmi_median, '(yes)' if bmi_median > 25 else '(no)')
bmi_men_mean, bmi_women_mean = df[(df['gender'] == gender_man)]['bmi'].mean(), df[(df['gender'] == gender_woman)]['bmi'].mean()
print('2:', 'm:', bmi_men_mean, 'w:', bmi_women_mean, '(yes)' if bmi_women_mean < bmi_men_mean else '(no)')
bmi_healthy_mean, bmi_not_healthy_mean = df[(df['cardio'] == 0)]['bmi'].mean(), df[(df['cardio'] == 1)]['bmi'].mean()
print('3:', 'h:', bmi_healthy_mean, 'nh:', bmi_not_healthy_mean, '(yes)' if bmi_healthy_mean > bmi_not_healthy_mean else '(no)')
bmi_men_healthy_noalco_mean = df[(df['gender'] == gender_man) & (df['cardio'] == 0) & (df['alco'] == 0)]['bmi'].mean()
bmi_women_healthy_noalco_mean = df[(df['gender'] == gender_woman) & (df['cardio'] == 0) & (df['alco'] == 0)]['bmi'].mean()
print('4:', 'm:', bmi_men_healthy_noalco_mean, 'w:', bmi_women_healthy_noalco_mean)

1: 26.374068120774975 (yes)
2: m: 26.754442357289474 w: 27.98758344183312 (no)
3: h: 26.54817520679475 nh: 28.566060627015435 (no)
4: m: 25.872638075460173 w: 26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [10]:
cond1_count = len(df[(df['ap_lo'] > df['ap_hi'])].index)
cond2_count = len(df[((df['height'] < np.percentile(df['height'], 2.5)) | (df['height'] > np.percentile(df['height'], 97.5)))].index)
cond3_count = len(df[((df['weight'] < np.percentile(df['weight'], 2.5)) | (df['weight'] > np.percentile(df['weight'], 97.5)))].index)
print('Percent:', np.round((cond1_count + cond2_count + cond3_count) / len(df.index) * 100))

Percent: 10.0